<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span jhiTranslate="shopSimple2022T3App.student.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <span jhiTranslate="shopSimple2022T3App.student.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-student"
        [routerLink]="['/product/new']"
      >
        <span jhiTranslate="shopSimple2022T3App.student.home.createLabel"> Create a new Product </span>
      </button>
    </div>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span jhiTranslate="shopSimple2022T3App.student.home.notFound">No students found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="shopSimple2022T3App.student.address">Name</span></th>
          <th scope="col"><span jhiTranslate="shopSimple2022T3App.student.phone">Model</span></th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" data-cy="entityTable">
          <td>
            <a [routerLink]="['/student', product.id, 'view']">{{ product.id }}</a>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.model }}</td>
          <td>{{ product.price }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product', product.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product-admin', product.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <!-- (click)="delete(product)" -->
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
